.pageStructure {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between; 
  
  background-color: DodgerBlue;  
}

.pageStructure > div {
  background-color: #f1f1f1;
  margin: 2px;
  padding: 10px;  
  font-size: 30px;  
}

.exercise{
  min-height: 400px;  
  width: 100%;

  display: flex;
  flex-direction: column;
}

.content{
  width: 100%;
	text-align: center;	
}

.levelButtonsDiv{
  text-align: center; 
}

.levelButtonsDiv > div > button{
  height: 60px;
  width: 60px;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 30px; 
}

.levelButtonActive{
  border: solid green 3px;
}

.levelButtonNotActive{
  border: solid grey 2px;
}


.issueNotificationDiv{}

.issueNotificationDiv > button{ 
  float: right;
  height: 60px;
  width: 60px;
  word-wrap: break-word;
}
