#Chunk1 {font-size:40px; height:50px; text-align: center;}
#Answer {font-size:40px; height:50px; text-align: center;}
#Single {font-size:40px; height:50px; text-align: center;}
#Plural {font-size:40px; height:50px; text-align: center;}
#English {font-size:40px; height:50px; text-align: center;}
#Lithuanian {font-size:40px; height:50px; text-align: center;}
#Button {text-align: center;} 
#NextActionButton {height:150px;width:400px;font-size:40px;}