





#Question {font-size:40px; height:50px; text-align: center; padding-top:15px;}
#Answer {font-size:40px; height:50px; text-align: center;}


#Button {
  text-align: center;
  margin-top: 15px;
}

#NextActionButton {height:150px;width:400px;font-size:40px;}